{{ if .EnableTLS -}}
server {
    listen 80;
    server_name {{ .PanelHost }};

    access_log /var/log/nginx/aipanel.access.log;
    error_log /var/log/nginx/aipanel.error.log;

    location /.well-known/acme-challenge/ {
        root {{ .ACMEWebroot }};
        try_files $uri =404;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name {{ .PanelHost }};

    access_log /var/log/nginx/aipanel.access.log;
    error_log /var/log/nginx/aipanel.error.log;
    ssl_certificate {{ .TLSCertPath }};
    ssl_certificate_key {{ .TLSKeyPath }};
{{ else -}}
server {
    listen 80;
    server_name {{ .PanelHost }};

    access_log /var/log/nginx/aipanel.access.log;
    error_log /var/log/nginx/aipanel.error.log;

    location /.well-known/acme-challenge/ {
        root {{ .ACMEWebroot }};
        try_files $uri =404;
    }
{{ end -}}

    location = /phpmyadmin {
        return 301 /phpmyadmin/;
    }

    location /phpmyadmin/ {
        root /usr/share;
        index index.php;
        try_files $uri $uri/ /phpmyadmin/index.php?$args;
    }

    location ~ ^/phpmyadmin/.*\.php$ {
        root /usr/share;
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/aipanel-default-{{ .PHPVersion }}.sock;
    }

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://127.0.0.1:{{ .PanelPort }};
    }
}
