@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap');
@import "tailwindcss";
@import './theme/fonts.css';
@import './theme/tokens.css';
@import './theme/light.css';
@import './theme/dark.css';
